fastapi
uvicorn[standard]

# Database
pymongo==4.6.1
dnspython

# Templates & frontend
jinja2
python-multipart
requests

# Security & Auth
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
itsdangerous
pyotp
qrcode
Pillow

# Core
starlette
python-dotenv

# Messaging
kafka-python
